<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="google-site-verification" content="SITE_VERIFICATION_KEY" />

<!-- Google Tag Manager -->
<script async>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TNLS3GQ');</script>
<!-- End Google Tag Manager -->

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
    {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>
    {% if handle contains 'rush-production' %}
    <!-- Block Crawlers -->
    <meta name="robots" content="noindex">
    {% endif %}

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {% include 'social-meta-tags' %}

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

    {% comment %}
    <!-- We combined all these styles into the 'style.css' file -->
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'tachyons.css' | asset_url | stylesheet_tag }}
    {{ 'swatch.css' | asset_url | stylesheet_tag }}
    {% endcomment %}

    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'new-style.css' | asset_url | stylesheet_tag }}

    <!-- jQuery - (Needed for "product-swatches.js" + "main.js") -->
    <script src="{{ 'jquery-1.11.1.min.js' | asset_url }}"></script>
    <script src="{{ 'slick.js' | asset_url }}"></script>

    <script defer>
      var theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          regularPrice: {{ 'products.product.regular_price' | t | json }},
          sale: {{ 'products.product.on_sale' | t | json }},
          showMore: {{ 'general.filters.show_more' | t | json }},
          showLess: {{ 'general.filters.show_less' | t | json }},
          addressError: {{ 'sections.map.address_error' | t | json }},
          addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
          addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
          authError: {{ 'sections.map.auth_error_html' | t | json }},
          newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
          external: {{ 'general.accessibility.link_messages.external' | t | json }},
          newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      }
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'main.js' | asset_url }}" defer></script>

    <script src="{{ 'scroll_JT.js' | asset_url }}" defer></script>

    {% if template == 'index' or template == 'product' %}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" async></script>
    <script src="{{ 'product-swatches.js' | asset_url }}" defer></script>
    {% endif %}

    {{ content_for_header }}

	{%- include 'bold-options-hybrid' -%}
    {%- include 'bold-product' with product, hide_action: 'header' -%}
    {%- include 'bold-common' -%}
{%- render 'sc-includes' -%}
{%- render 'bold-includes' -%}
     {{ 'bold.css' | asset_url | stylesheet_tag }}

    {{ shop.metafields.loox["global_html_head"] }}
    {% include 'scm-product-label-head' %}


    {% include 'scapp-customerinfo' %}


    <!-- Start WKND tags -->

      {% if first_time_accessed %}  {% capture discounts %}{% for discount in order.discounts %}{{ discount.code }},{% endfor %}{% endcapture %} {% assign discounts = discounts | split: ',' %} {% assign total_discount = 0 %} {% for discount in order.discounts %} {% assign total_discount = total_discount | plus: discount.total_amount %} {% endfor %} {% endif %}
      <script defer>
        (function(d) {
          var e = d.createElement('script');
          e.src = d.location.protocol + '//tag.wknd.ai/4537/i.js';
          e.async = true;
          d.getElementsByTagName("head")[0].appendChild(e);
        }(document));
      </script>

	<!-- End WKND tags -->

    <!-- Start Slick Photo Gallery tags -->
    <link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}"/>
	<link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css' | asset_url }}"/>

    <script defer>
      $('.slickgallery').slick();
    </script>
	<!-- End Slick Photo Gallery tags -->

  	{% render 'vitals-loader' %}

{% comment %}

<!-- VWO - Trinity -->
<!-- Start VWO Async SmartCode -->

<script type='text/javascript' defer>
window._vwo_code = window._vwo_code || (function(){
var account_id=643136,
settings_tolerance=2000,
library_tolerance=2500,
use_existing_jquery=false,
is_spa=1,
hide_element='body',

/* DO NOT EDIT BELOW THIS LINE */
f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
window.settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('https://dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
</script>

<!-- End VWO Async SmartCode -->

{% endcomment %}

</head>
  <body class="template-{{ template | split: '.' | first }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNLS3GQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% section 'header' %}

    <div class="page-container" id="PageContainer">
      {% render 'block-announcement.liquid' %}


      {% comment %}
      {% if template == 'product' %}
      <section class="all_sec_one">
        <div class="breadcrumb_main">
          <div class="container">
            <nav class="breadcrumb_inner" role="navigation" aria-label="breadcrumbs">
              <ul>
                <li><a href="/collections/all"><i class="far fa-arrow-alt-circle-left"></i></a></li>
                <li>Our Products</li>
                <li aria-hidden="true"><i class="fas fa-chevron-right"></i></li>
                <li>{{ product.title }}</li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      {% endif %}
      {% endcomment %}

      <div class="container-fluid">
        <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
          {{ content_for_layout }}
        </main>
      </div>
      {% section 'footer' %}

      <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
        {{- 'sections.slideshow.navigation_instructions' | t -}}
      </div>

    </div>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    </ul>



    <!-- Dark Mode Button by UNANIMOUS -->
    <!-- <button class="darkmode-btn" type="button"><span class="sr-only">Dark Mode</span></button> -->


    {{ shop.metafields.loox["global_html_body"] }}
    {{ 'instant.js' | asset_url | script_tag }}<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3161293-24" defer></script>
    <script defer>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-3161293-24');
    </script>

    <!-- Start Google Track Conversions -->
    <script type="text/javascript" defer>
      $(document).ready(function() {
        $("form#Contact_footer").submit(function(e){
          e.preventDefault();
          ga('send', 'event', 'form', 'submit', 'Contact Footer');
          $(this).off('submit');
          setTimeout(function(){
            e.currentTarget.submit();
          }, 1000);
        });
        $(document).on("submit", "form.leadin-form-wrapper", function(e) {
          e.preventDefault();
          ga('send', 'event', 'form', 'submit', 'Contact Modal');
          $(this).off('submit');
          setTimeout(function(){
            e.currentTarget.submit();
          }, 1000);
        });
      });
    </script>
    <!-- End Google Track Conversions -->
    <!-- Bing Ads UET tag -->
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"18003067"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
    </script>
    <!-- Bing - Passing Sales Value -->
      <script defer>
        window.uetq = window.uetq || [];
        window.uetq.push({
          'revenue_value': {{ total_price | money_without_currency }},
          'currency': '{{ shop.currency }}'
        });
      </script>
	  <!-- End of Bing -->

  <script type="text/javascript" data-listrak="automatically-installed">
                {% if customer %}
                    var ltkCustObj = { "firstname": "{{customer.first_name}}", "lastname": "{{customer.last_name}}", "email": "{{customer.email}}"};
                {% endif %}
                var biJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
                (function (d, s, id, tid, vid) {
                    var js, ljs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return; js = d.createElement(s); js.id = id;
                    js.src = biJsHost + "cdn.listrakbi.com/scripts/script.js?m=" + tid + "&v=" + vid;
                    ljs.parentNode.insertBefore(js, ljs);
                })(document, 'script', 'ltkSDK', 'YR40Oj9LEnhR', '1');

            </script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3752427.js?businessUnitId=706402"></script>
<!-- End of HubSpot Embed Code -->
  </body>
</html>
