<section class="home_sec_eight faq_main_faq_page">
  <div class="faq_main ">
    <h4>{{ section.settings.faq_title }}</h4>
    <h6>{{ section.settings.faq_tag }}</h6>
    {% assign s = 1 %}
    {% for block in section.blocks %}
    {% if block.type == 'faq' %}
    <div class="faqs">
      <div class="faq_heading" onclick="showds({{ s }})" id="q{{ s }}">
        <h3>{{ block.settings.question }}<span><i class="fas fa-angle-down"></i></span></h3>
      </div>
      <div class="faq_content" id="tab{{ s }}" style="display: none;">
        <p> {{ block.settings.ans }}</p>
      </div>
    </div>
    {% assign s = s | plus: 1 %}
    {%endif %}
    {% endfor %}
    <h5><a href="/pages/faq">{{ section.settings.faq_contact}}</a></h5>
    <a href="{{ section.settings.faq_link }}" class="btn">{{ section.settings.faq_btn }}</a>
  </div>
</section>

<section class="hone_sec_two hone_sec_two_faq">
  <div class="container">
    <div class="how_work">
      <h4>{{ section.settings.features_title }}</h4>
      <h3>{{ section.settings.features_tag }}</h3>
      <div class="row">
        {% for block in section.blocks %}
        {% if block.type == 'feature' %}
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
          <div class="your_story your_story_faq">
            <div class="ypur_story_img faqpage_img">
              {{ block.settings.img | image_url: width: 1024 | image_tag: widths: '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048', loading: 'lazy' }}
            </div>
            <h4>{{ block.settings.title }}  </h4>
            <p>{{ block.settings.tag }}</p>
            <a href="{{ block.settings.link }}" class="btn">{{ block.settings.btn }}	</a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="faq_sec_one">
  <div class="create_your">
    <h4>{{ section.settings.create_you }}</h4>
    <a href="{{ section.settings.create_you_link }}" class="btn">{{ section.settings.create_you_btn }}</a>
  </div>
</section>

{% schema %}
  {
    "name": "Page FAQ",
    "settings": [

           {
            "id": "faq_title",
            "type": "text",
        	"label": "FAQ Title",
        	"default": "Frequently asked Questions"
          },
			{
            "id": "faq_tag",
            "type": "textarea",
        	"label": "FAQ Tag Line",
        	"default": "Here’s some details about MemoryStitch and our process."
          },
			  {
            "id": "faq_contact",
            "type": "text",
        	"label": "FAQ Contact",
        	"default": "Don’t see an answer to your question here?"
          },
				 {
            "id": "faq_btn",
            "type": "text",
        	"label": "Button Label",
        	"default": "CONTACT US"
          },
		  {
            "id": "faq_link",
            "type": "url",
        	"label": "Button Link"
          },


			 {
            "id": "features_title",
            "type": "text",
        	"label": "Features Main Title",
        	"default": "HOW IT WORKS"
          },
		  {
            "id": "features_tag",
            "type": "textarea",
        	"label": "Features Main Tag Line",
        	"default": "Helping you tell your story"
          },
			 {
            "id": "create_you",
            "type": "text",
        	"label": "Create You Title",
        	"default": "Ready to transform your <br> T-shirts ionto the perfect gift?"
          },
		    {
            "id": "create_you_btn",
            "type": "text",
        	"label": "Button Label",
        	"default": "CREATE YOURS TODAY"
          },
		  {
            "id": "create_you_link",
            "type": "url",
        	"label": "Button Link",
          "default": "/collections/all"
          }

           ],
	"blocks": [
      {
        "type": "faq",
        "name": "FAQs",
        "settings": [

		   {
            "id": "question",
            "type": "text",
        	"label": "question Title",
        	"default": "This is a dropdown for a frequently asked question ?"
          },
		  {
            "id": "ans",
            "type": "textarea",
        	"label": " ans Line",
        	"default": "This is a dropdown for a frequently asked question  This is a dropdown for a frequently asked question  This is a dropdown for a frequently asked question  This is a dropdown for a frequently asked question "
          }
        ]
      },
		  {
        "type": "feature",
        "name": "Features",
        "settings": [

		  {
            "id": "img",
            "type": "image_picker",
        	"label": "Features Image"
          },
		  {
            "id": "title",
            "type": "text",
        	"label": "Features Title",
        	"default": "1 COLLECT YOUR FAVE SHIRTS"
          },
		  {
            "id": "tag",
            "type": "textarea",
        	"label": "Features Tag Line",
        	"default": "Select the T-shirts (front, back , or both) you want to use for your quilt, customize your T-shirt quilt , and checkout"
          },
		  {
            "id": "btn",
            "type": "text",
        	"label": "Button Label",
        	"default": "LEARN MORE"
          },
		  {
            "id": "link",
            "type": "url",
        	"label": "Button Link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
